
:root{
    --dynamic-width:55px;
    --range-ball-left:50px;
    --range-before-transition:all .5s linear;
    --range-ball-transition:all .5s linear;
}

	#range:hover  {
        background-color: rgba(0,0,0,0.3);
      }
      

      
      #range-ball{
        position:absolute;
          background-color:rgba(77, 136, 255, .8);
          width:20px;
          height:20px;
          border-radius:50%;
          /* left:0; */
          left:var(--range-ball-left);
          bottom:-7.5px;
           cursor:pointer;
           opacity:1;
      }
      #range-ball:hover {
        background-color:rgba(77, 136, 255, 1);
      }
      
      #range-ball::before{
        content:'';
        position:absolute;
          background-color:white;
          width:12px;
          height:12px;
          border-radius:50%;
          left:4px;
          bottom:4px;
         cursor:pointer;   
      }
      
      
      #text{
      position:relative;
      
      }


/* timeworth section and its chart*/

.timeworth {
	margin-top:140px;
	padding: 110px 0;
	background-color:#eee;

}
.timeworth .chart-wrapper{
    margin:60px 10px 0 10px;
}
.timeworth .chart-container{
    max-width:500px;
	position: relative;
    margin:0 auto;
}
.timeworth .chart-container img {
	margin:100px 0 30px 0;
	/* overflow: hidden; */
    position: relative;
	max-width:100%;
    padding:0;	
}

.timeworth .milestone-wrap h5{
	padding:0;
	margin-bottom:10px;
	color:#4d88ff;
}
.timeworth .milestone-wrap{
	position:absolute;
	background-color:#fff;
	text-align:center;
	width:150px;
	padding:10px;
	border-radius:10px;
	left:-18px;
	bottom:115px;
	z-index:9;
}

.timeworth .milestone-wrap p{
	font-size:10px;
	line-height:1.5em;
}

.timeworth .chart-container .circle{
	position: absolute;
	width:10px;
	height:10px;	
	background-color:#fff;
	border:2px solid #4d88ff;
	border-radius:50%;	
	cursor: pointer;
    z-index:9;
}

.timeworth .chart-container .circle.curve-circle-one{
	bottom:35px;
	left:50px;

}

.timeworth .chart-container div.circle.curve-circle-two{
	bottom:19.5%;
	left:40%;

}


.timeworth .chart-container div.circle.curve-circle-three{
	
	bottom:33%;
	right:30%;
}

.timeworth .chart-container div.circle.curve-circle-four{
	bottom:54%;
	right:5%;
}

/* draw inital X-axis */
.timeworth .chart-container #range{
    position:relative;
    background-color: rgba(0,0,0,0.2);    
    max-width:100%;
    height:5px;
    left:0;
    bottom:10px;
    cursor: pointer; 
    border-radius:5px;
}

.timeworth .chart-container #range::before {        
    content:'';
    position:absolute;
    background-color: rgba(77, 136, 255, 1);
    width:var(--dynamic-width);
    height:5px;
    cursor:pointer;
    opacity:1;
  }

/* milestone circle' color change to blue on hover */
.timeworth .circle.curve-circle-one.active{
	background-color:#4d88ff;
}

.timeworth .circle.curve-circle-two.active{
	background-color:#4d88ff;
}
.timeworth .circle.curve-circle-three.active{
	background-color:#4d88ff;
}
.timeworth .circle.curve-circle-four.active{
	background-color:#4d88ff;
}

/* End */


.timeworth .circle.curve-circle-one.active + .curve-circle-two + .curve-circle-three+.curve-circle-four+ .milestone-wrap + img + #range::before{
	content:'';
	position: absolute;
	transition:var(--range-before-transition);
    /* transition:'all .5s linear'; */
    /* width:55px; */
    width: var(--dynamic-width); 
	height:5px;
	background-color:#4d88ff;
	border-radius:5px;
}

.timeworth .curve-circle-two.active + .curve-circle-three+.curve-circle-four+ .milestone-wrap + img + #range::before{
	content:'';
	position: absolute;
	transition:var(--range-before-transition);
	/* width:41%; */
    width: var(--dynamic-width);
	height:5px;
	background-color:#4d88ff;
	border-radius:5px;
}

.timeworth .curve-circle-three.active +.curve-circle-four+ .milestone-wrap + img + #range::before{

	content:'';
	position: absolute;
	transition:var(--range-before-transition);
	/* width:70%; */
    width: var(--dynamic-width);
	height:5px;
	background-color:#4d88ff;
	border-radius:5px;
}

.timeworth .curve-circle-four.active + .milestone-wrap + img + #range::before{

	content:'';
	position: absolute;
	transition:var(--range-before-transition);
    width: var(--dynamic-width);
	/* width:95%; */
	height:5px;
	background-color:#4d88ff;
	border-radius:5px;
}


.timeworth .circle.curve-circle-one.active +.curve-circle-two+.curve-circle-three+.curve-circle-four+ .milestone-wrap + img + #range #range-ball{
	
	background-color:#4d88ff;
	transition: var(--range-ball-transition);	
    /* left:50px; */
    left:var(--range-ball-left);

}

.timeworth .circle.curve-circle-two.active +.curve-circle-three+.curve-circle-four+ .milestone-wrap + img + #range #range-ball{
	
	background-color:#4d88ff;
	transition: var(--range-ball-transition);	
    /* left:185px;	 */
    left:var(--range-ball-left);
	
}
.timeworth .circle.curve-circle-three.active + .curve-circle-four+ .milestone-wrap + img + #range #range-ball{
	
	background-color:#4d88ff;
	transition: var(--range-ball-transition);	
    /* left:335px; */
    left:var(--range-ball-left);
}
.timeworth .circle.curve-circle-four.active + .milestone-wrap  + img + #range #range-ball{
	
	background-color:#4d88ff;
	transition: var(--range-ball-transition);	
    /* left:495px; */
    left:var(--range-ball-left);
}

.timeworth .circle.curve-circle-one.active +.curve-circle-two+.curve-circle-three+.curve-circle-four+ .milestone-wrap{
	transition: transform .5s linear;	
	transform:translate(0,40px);	
}

.timeworth .circle.curve-circle-two.active +.curve-circle-three+.curve-circle-four+ .milestone-wrap{
	transition: transform .5s linear;
	transform:translate(145px,0px);	
}

.timeworth .circle.curve-circle-three.active +.curve-circle-four+ .milestone-wrap{
	transition: transform .5s linear;
	transform:translate(282.5px,-20px);	
}
.timeworth .circle.curve-circle-four.active + .milestone-wrap{
	transition: transform .5s linear;
	transform:translate(400px,-80px);

}
/* end of timeworh */


@media screen and (max-width: 549px) {

	.timeworth .chart-container div.circle1.curve-circle-two{
		bottom:18.5%;
		left:40%;
	
	}
	
	
	.timeworth .chart-container div.circle1.curve-circle-three{
		
		bottom:32%;
		right:30%;
	}

	.timeworth .chart-container div.circle1.curve-circle-four{
		bottom:51%;
        right:6%;
		background-color: yellowgreen;
	}

} 

@media screen and (max-width: 499px) {

	
	
	.timeworth1 .chart-container1 div.circle1.curve-circle-four{
		bottom:49%;
        right:6%;
		
	}

		
.timeworth .circle.curve-circle-one.active +.curve-circle-two+.curve-circle-three+.curve-circle-four+ .milestone-wrap{
	transition: transform .5s linear;	
	transform:translate(0,40px);	
}

.timeworth .circle.curve-circle-two.active +.curve-circle-three+.curve-circle-four+ .milestone-wrap{
	transition: transform .5s linear;
	transform:translate(85px,10px);	
}

.timeworth .circle.curve-circle-three.active +.curve-circle-four+ .milestone-wrap{
	transition: transform .5s linear;
	transform:translate(180px,-10px);	
}
.timeworth .circle.curve-circle-four.active + .milestone-wrap{
	transition: transform .5s linear;
	transform:translate(210px,-30px);

}

}


@media screen and (max-width: 399px) {


	.timeworth .chart-container div.circle.curve-circle-two{
		bottom:20%;
		left:43%;
	
	}
	
	.timeworth .chart-container div.circle.curve-circle-three{
		
		bottom:31%;
		right:25%;
	}

	.timeworth .chart-container div.circle.curve-circle-four{
		bottom:46%;
        right:5%;
		
	}

	
.timeworth .circle.curve-circle-one.active +.curve-circle-two+.curve-circle-three+.curve-circle-four+ .milestone-wrap{
	transition: transform .5s linear;	
	transform:translate(0,40px);	
}

.timeworth .circle.curve-circle-two.active +.curve-circle-three+.curve-circle-four+ .milestone-wrap{
	transition: transform .5s linear;
	transform:translate(85px,10px);	
}

.timeworth .circle.curve-circle-three.active +.curve-circle-four+ .milestone-wrap{
	transition: transform .5s linear;
	transform:translate(180px,-10px);	
}
.timeworth .circle.curve-circle-four.active + .milestone-wrap{
	transition: transform .5s linear;
	transform:translate(210px,-30px);

}


} 


@media screen and (max-width: 349px) {

	/* .timeworth .chart-container div.circle.curve-circle-one{
		bottom:14%;
        left:10%;
	} */
   
	/* .timeworth .chart-container div.circle.curve-circle-four{
		bottom:44%;
        right:5%;
        background-color:violet;
	}
    #range{
        max-width:100%;
    }
    #range:before{
        
	content:'';
	position: absolute;
	transition:var(--range-before-transition);
    
	width:300px;
	height:5px;
	background-color:#4d88ff;
	border-radius:5px;
    }
    #range-ball{
        left:280px; 
    } */

} 
